*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --primary-color:#0061ff;
    --bg-heade: #B4D0E7;
    --text-color: black;
}

html{
    font-family: 'Open Sans', sans-serif;
}
body{
    margin-top: 80px;
}
.conteiner-small{
    max-width: 1040px;
    margin-inline: auto;
    padding-inline: 20px;
     
}
.conteiner-big{
    max-width: 1240px;
    margin-inline: auto;
    padding-inline: 20px;
}
.btn{
    display: inline-block;
    padding: .6em .8em;
    white-space: nowrap;
}
.btn-primary{
    background-color: var(--primary-color);
    color: white;
}
/* header */
header{
    background-color: var(--bg-heade);
}
nav{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: white;
    height: 80px;
    display: flex;
    justify-content: space-between;
    padding-left: 10px;
    padding-right: 10px;
    white-space: nowrap;
}
nav ul{
    list-style: none;
}
nav a{
    display: flex;
    text-decoration: none;
    color:var(--text-color)
}
.nav-left{
    
    display: flex;
    align-items: center;
    gap: 15px;
}
.nav-right{
    display: flex;
    align-items: center;
    gap: 15px;
}

.left{
    list-style: none;
    display: flex;
    gap: 10px;
}
.right{
    list-style: none;
    display: flex;
    gap: 10px;
}

header h1{
    font-size: 5rem;
}

header .contents{
    display: flex;
    align-items: flex-start;
}

header .lumbo .text{
    flex: 0 0 30%;
}
header .jumbo img{
    flex: 0 0 70%;
    min-width: 0;
    margin-bottom: -75px;
}

/* main */

/* section */

.sct1{
    padding-top: 8rem;
}

.title-sct1{
    font-size: 3rem;
    margin-bottom: 4rem;
}

.cards{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}
.card{

    width: calc(100% / 3 - 1rem);
    border: 1px solid grey;
    flex: 1 1 auto;
}
.title-card{
    text-align: center;
    padding: 1rem;
    border-bottom: 1px solid lightgray;
}
.content1{
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    padding: 1rem;
}

.more-gap{
    margin-bottom: 2rem;
}
.fa-solid{
    color: #0061ff;
}
.terms{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.card-4{
    margin-top: 1rem;
    width: 1000px;
    height: 260px;
    border: 1px solid grey;
    flex: 1 1 auto;

}
.content2{
    display: flex;
    justify-content: space-between;
    gap: 2.0rem;
    padding: 1rem;
}
.title-card4{
    text-align: center;
    padding: 1rem;
    border-bottom: 1px solid lightgray;
}
.azione{
    flex: 0 0 40%;
    margin-left:  4rem;
}
.text-4{
    flex: 0 0 60%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
/* section 3 */
.section-3{
    display: flex;
    align-items: flex-start;
    margin-top: 4rem;
}

.section-3 .partner{
    flex: 0 0 60%;
}
.partner-1{
    width: 600px;
    height: 510px;
}
.content-3{
    display: flex;
    flex-direction: column;
    flex: 0 0 39%;
    margin: 20px;
    gap: 1rem;  
}
.trova{
    padding: .7rem;
    width: 150px;
}

/* section 4 features*/
.features .conteiner-small {
    display: flex;
    flex-wrap: wrap;
    gap: 3rem ;
}

.features h2{
    flex: 0 0 100%;
    margin-top: 4rem;
    font-size: 3rem;
}

.features .card{
    flex: 0 0 calc((100% - 2 * 3rem) / 3);
    border-color: transparent;
}

.features img{
    width: 100%;
}

/* section 5 totòe and link */

.title-sct5{
    font-size: 3rem;
    margin-top: 7rem;
    margin-bottom: 2rem;
}

.sct5-title-link .conteiner-small{
    margin-bottom: 5rem;
}
/* section 6 svg */

.conteiner-xl{
    display: flex;
}

.quadri{
    display:flex;
    flex-wrap: wrap;
    flex: 0 0 calc(100% / 3);
}

.quadratino{
    width: calc(100% / 2);
    height: 300px;
}
/* inizio blocco sinistro */
.quadratino.designit{
    background-color: #A2D39B;
}
.designit-2{
    width: 100%;
    height: 100%;
    background-image: url(../img/designit.svg);
    background-size: 60%;
    background-position: center;
    background-repeat: no-repeat;
    filter: invert(1);

}
.quadratino.arizona{
    background-color: #61082b;
}
.arizona-2{
    width: 100%;
    height: 100%;
    background-image: url(../img/arizona_state_university.svg);
    background-size: 60%;
    background-position: center;
    background-repeat: no-repeat;
    filter: invert(1);
}
.quadratino.florida{
    background-color: #0093ce;
}
.florida-2{
    width: 100%;
    height: 100%;
    background-image: url(../img/university_of_florida.svg);
    background-size: 70%;
    background-position: center;
    background-repeat: no-repeat;
    filter: invert(1);
}
.quadratino.topps{
    background-color: #ff1c1c;
}
.topps-2{
    width: 100%;
    height: 100%;
    background-image: url(../img/topps.svg);
    background-size: 70%;
    background-position: center;
    background-repeat: no-repeat;
    filter: invert(1);
}
/* fine blocco sinistro */
/* inizio blocco centrale */
.logo-designit{
    margin: 1rem;
}
.content-center{
    margin:1rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
/* inizio blocco destro */
.quadratino.world{
    background-color: #d5001f;
}
.world-2{
    width: 100%;
    height: 100%;
    background-image: url(../img/world_bicycle_relief.svg);
    background-size: 70%;
    background-position: center;
    background-repeat: no-repeat;
    filter: invert(1);
}
.quadratino.hearst{
    background-color: #B4D0E7;
}
.hearst-2{
    width: 100%;
    height: 100%;
    background-image: url(../img/hearst_corp.svg);
    background-size: 70%;
    background-position: center;
    background-repeat: no-repeat;
    filter: invert(1);
}
.quadratino.lonely{
    background-color: #0d2481;
}
.lonely-2{
    width: 100%;
    height: 100%;
    background-image: url(../img/lonely_planet.svg);
    background-size: 70%;
    background-position: center;
    background-repeat: no-repeat;
    filter: invert(1);
}
.quadratino.clear{
    background-color: #ffd830;
}
.clear-2{
    width: 100%;
    height: 100%;
    background-image: url(../img/clear_channel.svg);
    background-size: 70%;
    background-position: center;
    background-repeat: no-repeat;
    filter: invert(1);
}
/* fine blocco destro */
/* section business */
#background-business{
    background-color: #b4d0e7;
    padding: 6rem;
}
.title-business{
    color: #61082b;
    font-size: 3rem;
}
.business{
    display: flex;
}
.title-bsn{
    flex: 0 0 60%;
}
.button-business{
    width: 60%;
    height: 40%;
    font-size: 15px;
    border-color: transparent;
}
.button-bsn{
    flex: 0 0 40%;
    display: flex;
    align-items: center;
    justify-content: center;
}
/* domande frequenti */
.domande-frequenti{
    padding-top: 160px;
    padding-bottom: 140px;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.arrow{
    display: flex;
    justify-content: space-between;
}
.title-questions{
    font-size: 2.5rem;
}
/* footer */
footer{
    background-color: black;
    height: 572px;
}
.footer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex: 0 0 calc(100% / 5);
}

.footer a{
    color: white;
    list-style: none;
    text-decoration: none;
}
.footer ul{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.title-footer{
    font-size: 30px;
    color: white;
    margin-bottom: 1rem;
}
.colonna{
    padding-top: 3rem;
    display: flex;
    flex-direction: column;
    width: calc(100% / 5);
    gap: 1rem;
    margin-bottom: 3rem;
}

.hr{
    width: 10%;
    margin-bottom: 40px;
    margin-top: 20px;
}
.conteiner-big-footer{
    max-width: 1240px;
    margin-inline: auto;
    padding-inline: 20px;
}
.mondo{
    color: white;

}
.italia{
    color: white;
}
.freccia{
    color: white;
}